<script>
    import {link} from 'svelte-spa-router';
</script>
<main>
    <!--    <img src="../image/Screenshot 2021-09-30 at 4.06.23 PM.png" alt="e">-->

    <!-- header of the page -->

    <header>
        <nav class="navbar navbar-light navbar-expand-lg bg-light">
            <div class="container">
                <ul class="userIcon navbar-nav d-flex flex-row m-2">
                    <a class="navbar-brand me-6 logoName text-white" href="/">S-BAY</a>
                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item text-black" href="/login&register"  use:link>Log In or Register</a>
                            </li>
<!--                            <li>-->
<!--                                <a class="dropdown-item" href="#">Register</a>-->
<!--                            </li>-->
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li>
                                <a class="dropdown-item text-black" href="#">Log out</a>
                            </li>
                        </ul>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#">Bids</a>
                    </li>
                </ul>
                <form class="d-flex input-group w-auto">
                    <input
                            type="search"
                            class="form-control rounded"
                            placeholder="Search"
                            aria-label="Search"
                            aria-describedby="search-addon"
                    />
                    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
                </form>
            </div>
        </nav>
    </header>

    <!-- main page content -->

    <div class="main-page">
        <div class="container-md mainPageDescription" id="itemsIntroText">
            <h3 class="display-8 text-dark">Select the auction and bid:</h3>
            <h5 class="display-9 text-dark">You have to be logged in first!</h5>
        </div>
        <div class="container-md" id="filtering-container">
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn px-3 me-2 navButton filterButton" id="filterButton" data-mdb-toggle="dropdown"
                            aria-expanded="false">Filter:
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filterMenuButton">
                        <li><a class="dropdown-item text-black" href="#">Below €100</a></li>
                        <li><a class="dropdown-item text-black" href="#">Above €100</a></li>
                        <li><a class="dropdown-item text-black" href="#">Third Filter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-md listingSection" id="items-list">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="./images/" class="card-img-top" alt="..." oncontextmenu="return false;"/>
                        <div class="card-body">
                            <h5 class="card-title">Name</h5>
                            <p class="card-price">Price</p>
                            <a href="#!" class="btn bidButton">Bid</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<style>
    main {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    footer {
        color: #000000;
        display: flex;
        justify-content: center;
        flex: 1;
        padding: 0.5rem 0.5rem;
        margin-left: -1.5rem;
        margin-bottom: -1.5rem;
        margin-right: -1.5rem;

        /*box-shadow: 0 1px rgba(229, 229, 229, 0.29);*/
    }

    .navbar {

    }

    .main-page {
        margin-top: 7rem;
    }

    .mainPageDescription {
        margin-top: -3rem;
    }

    .listingSection {
        margin-top: 2rem;
    }

    .filterButton {
        z-index: 2;
        /*background: rgb(174,238,217);*/
        /*background: radial-gradient(circle, rgba(174,238,217,1) 0%, rgba(148,187,233,1) 60%);*/
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        color: white;
    }

    .bidButton {
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        color: white;
    }

    .bidButton:hover {
        color: white;
    }

    .filterButton:hover {
        color: white;
    }

    .logoName {
        padding-left: 2rem;
        padding-right: 2rem;
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        border-radius: 0.5rem;
    }

    /*@media screen and (max-width: 479px) {*/
    /*    #items-list {*/
    /*        max-width: 70%;*/
    /*    }*/
    /*}*/
</style>