<script>
    import {link} from 'svelte-spa-router';
    //
    // const LoginForm = document.getElementById("LoginForm");
    // const RegisterForm = document.getElementById("RegisterForm");
    // const Indicator = document.getElementById("Indicator");
    //
    // await function register() {
    //     RegisterForm.style.transform = "translateX(0)";
    //     LoginForm.style.transform = "translateX(0)";
    // }
    //
    // await function login() {
    //     RegisterForm.style.transform = "translateX(-500px)";
    //     LoginForm.style.transform = "translateX(-500px)";
    // }
</script>
<main>
    <!--    <img src="../image/Screenshot 2021-09-30 at 4.06.23 PM.png" alt="e">-->

    <!-- header of the page -->

    <header>
        <nav class="navbar navbar-light navbar-expand-lg bg-light">
            <div class="container">
                <ul class="userIcon navbar-nav d-flex flex-row m-2">
                    <a class="navbar-brand me-6 logoName text-white" href="/">S-BAY</a>
                    <li class="nav-item me-3 me-lg-0 dropdown">
                        <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                        >
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item text-black" href="#">Log In or Register</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li>
                                <a class="dropdown-item text-black" href="#">Log out</a>
                            </li>
                        </ul>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-black" href="#">Bids</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- main page content -->

    <div class="loginRegister-page">
        <div class="container-md loginRegisterPageDescription">
            <h3 class="display-8 text-dark">Select 'Log in' or 'Register' options:</h3>
        </div>
        <div class="container-md">
            <div class="container-md loginRegisterForm">
                <!--            <div class="form-container loginRegisterForm">-->
                <div class="form-btn"></div>
                <span class="loginWord">Log in</span>
<!--                <hr id="Indicator">-->

                <form class="loginSection" id="LoginForm">
                    <input class="inputSections" type="email" placeholder="Email">
                    <input class="inputSections" type="password" placeholder="Password">
                    <button type="submit" class="btn loginButton">Log in</button>
                </form>

                <span class="registerWord">Register</span>
                <form class="registerSection" id="RegisterForm">
                    <input class="inputSections" type="text" placeholder="Username">
                    <input class="inputSections" type="email" placeholder="Email">
                    <input class="inputSections" type="password" placeholder="Password">
                    <button type="submit" class="btn registerButton">Register</button>
                </form>

            </div>
        </div>
    </div>


</main>

<style>

    .loginRegisterForm {
        /*background: rgb(34,193,195);*/
        /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);*/
        width: 450px;
        height: 550px;
        margin-top: 7rem;
        position: relative;
        text-align: center;
        padding: 20px 0;
        border-radius: 0.5rem;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }

    .loginRegisterForm span {
        font-weight: bold;
        padding: 0 10px;
        color: black;
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }

    .inputSections {
        width: 100%;
        max-width: 400px;
        margin-top: 1rem;

        /*padding: 0 10px;*/
        /*border: 1px solid #ccc;*/
        /*position: absolute;*/
        /*top: 150px;*/
    }

    form .btn {
        border: none;
        cursor: pointer;
    }

    form .btn:focus {
        outline: none;
    }

    .loginWord {
        margin-top: 1rem;
    }

    .registerWord {
        margin-top: 2rem;
    }

    /*.loginSection {*/
        /*margin-top: 2rem;*/
        /*position: absolute;*/
        /*top: 150px;*/
    /*}*/

    /*.registerSection {*/
    /*    position: absolute;*/
    /*    top: 150px;*/
    /*}*/

    /*#LoginForm {*/
    /*    left: -500px;*/
    /*}*/

    /*#RegisterForm {*/
    /*    left: 0;*/
    /*}*/

    #Indicator {
        /*width: 90px;*/
        border: none;
        background: white;
        /*height: 4px;*/
        /*margin-top: 5px;*/
        /*border-radius: 0.5rem;*/
        /*transform: translateX(234px);*/
    }

    /*.loginRegisterForm form {*/
    /*    max-width: 450px;*/
    /*    padding: 0 20px;*/
    /*    position: absolute;*/
    /*    top: 150px;*/
    /*}*/

    /*form {*/
    /*    width: 100%;*/
    /*    height: 30px;*/
    /*    margin: 10px 0;*/
    /*    padding: 0 10px;*/
    /*    border: 1px solid #ccc;*/
    /*}*/

    .registerButton {
        margin-top: 1rem;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        color: white;
    }

    .loginButton {
        margin-top: 1rem;
        padding-right: 2.1rem;
        padding-left: 2.1rem;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        color: white;
    }

    .form-btn {
        display: inline-block;
    }

    main {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    .loginRegister-page {
        margin-top: 7rem;
    }

    .loginRegisterPageDescription {
        margin-top: -3rem;
    }

    .inputSections {
        border-radius: 0.5rem;
    }

    .logoName {
        padding-left: 2rem;
        padding-right: 2rem;
        background: rgb(34, 193, 195);
        background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
        border-radius: 0.5rem;
    }
</style>